<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои клиенты</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui column centered grid">
    <div class="fifteen wide column">
        <div class="ui top menu">
            <a class="item" href="/users">Пользователи</a>
            <a class="active item" href="/clients">Клиенты</a>
            <a class="item" href="/products">Товары</a>
        </div>
    </div>
</div>

<div class="ui column centered grid">
    <div class="fifteen wide column">
        <div class="ui grid">
            <div class="two column row">
                <div class="left floated column">
                    <div class="ui breadcrumb">
                        <a class="section" href="/">Главная</a>
                        <div class="divider"> / </div>
                        <div class="active section">Клиенты</div>
                    </div>
                </div>
                <div class="right floated column right aligned segment">
                    <button class="ui basic button" onclick="location.href='{{ url_for('add_client') }}'">
                        <i class="icon user"></i>
                        Добавить клиента
                    </button>
                </div>
            </div>
        </div>

        <div class="ui center aligned segment">
            <table class="ui single line table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Клиент</th>
                    <th>Номер телефона</th>
                    <th>Дата рождения</th>
                    <th>Скидка</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for client in client_list %}
                <tr>
                    <td>{{ client.isn }}</td>
                    <td>{{ client.last_name }} {{ client.first_name }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.birthday }}</td>
                    <td>{{ client.discount }}</td>
                    <td>
                        <button class="ui basic icon button" formaction="/clients/{{ client.isn }}">
                            <i class="icon external square alternate"></i>
                        </button>
                        <button class="ui basic icon button" formaction="/clients/{{ client.isn }}">
                            <i class="icon trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>