<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
      table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
    <body>
      <form action="add" method="post">
          <input name="login" placeholder="Логин"><br>
          <input name="password" placeholder="Пароль"><br>
          <input name="fio" placeholder="ФИО"><br>
          <input name="birthday" placeholder="Дата рождения"><br>
          <input name="phone_number" placeholder="Телефон"><br>
          <button type="submit">Добавить</button>
      </form>
    </body>
</html>