<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация в PrjSale</title>
</head>
    <body>
        <form action="registration" method="post">
            <input name="login" type="text" placeholder="Логин"><br>
            <input name="password" type="text" placeholder="Пароль"><br>
            <input name="name" type="text" placeholder="Имя"><br>
            <input name="birthday" type="text" placeholder="Дата рождения"><br>
            <input name="phone_number" type="text" placeholder="Телефон"><br>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </body>
</html>